$base-text-color: #767676;
$base-background-color: #fff;
$base-link-color: #666;
$base-form-text-color: #767676;
$base-form-placeholder-color: #767676;
$base-input-border-color: #e1e1e1;

$base-font-size: 14px;
$base-line-height: 2.21;
$base-font-family: 'Open Sans', sans-serif;
$museo-font: 'museo_sans_cyrl500', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$museo-font-bold: 'museo_sans_cyrl900', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;

$base-min-width: 320px;

// breakpoints
$mobile: 767px;
$tablet: 1023px;
$retina: 1.5;  // mobile retina
$retina-hd: 2.5;

/* colors */
$black:#000;
$gray: #d3d3d3;
$gray2:#8e8e8e;
$gray3:#767676;
$light-gray:#f1f1f1;
$purple:#7a60e8;
$purple2:#fbfafe;
$purple3:#9684e6;
$orange:#fdcc57;
$yellow:#fce405;
$green:#89dc9e;
$green2:#5da86f;
$green3:#5ba76e;
$dark-green: #5ba76e;
$white:#fff;